/* login.css */

.root {
    -fx-background-color: #ffffff; /* White background */
}

.hbox {
    -fx-spacing: 10;
    -fx-padding: 20px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
}

.title-label {
    -fx-font-size: 30px;
    -fx-text-fill: rgb(19, 9, 106); /* Dark blue text color */
}

.text-field, .password-field {
    -fx-font-size: 16px;
    -fx-pref-height: 40px; /* Adjust the height of text fields */
}

.button {
    -fx-font-size: 14px; /* Adjust the font size */
    -fx-pref-height: 30px; /* Adjust the height of the button */
    -fx-background-color: rgb(19, 9, 106); /* Dark blue button color */
    -fx-text-fill: #ffffff; /* White button text color */
}

.button:hover {
    -fx-background-color: #001c47; /* Darker blue on hover */
}

.error-label {
    -fx-text-fill: #ff0000; /* Red text color for error messages */
}
