/* Book.css */

/*----------SearchBar----------*/
.search-box{
    -fx-alignment: center;
    -fx-pref-width:800px;
    -fx-spacing:10px;
    -fx-padding: 0 0 10px 0;
}

.field{
    -fx-background-color: #f0f0f0;
    -fx-border-color: transparent;
    -fx-background-radius: 6;
    -fx-pref-width:850px;
}

.search-button{
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 40;
}


/*----------Books----------*/
.book-display{
    -fx-background-color:transparent;
}

.book-display>.viewport {  
    -fx-background-color:transparent;
}

.container{
    -fx-hgap: 200;
    -fx-vgap: 20;
}

.books{
    -fx-background-color:rgb(251, 249, 249);
    -fx-pref-height: 300px;
    -fx-pref-width: 250px;
    -fx-background-radius: 6;
    -fx-alignment: top-center;
    -fx-spacing:10px;
}


