/* login.css */
.background{
    -fx-background-image: url('MoodleBG.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.whiteContainer{
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-background-radius: 20px;
    -fx-pref-height: 750px;
    -fx-pref-width: 850px;
    -fx-alignment: center;  
}
.whiteContainer2{
    -fx-alignment: center;
    -fx-hgap: 20; /* Adjust the horizontal gap value as needed */
    -fx-vgap: 20;
}
 


.title-label {
    -fx-font-size: 30px;
    -fx-text-fill: rgb(19, 9, 106); /* Dark blue text color */
}

.field-label{
    -fx-font-size: 20px;
    -fx-text-fill: #1563d8;
}

.field {
    -fx-max-width: 600px; /* You can adjust the maximum width as needed */
    -fx-pref-height: 30px;
    -fx-background-radius: 6px;
    -fx-font-size: 14px;
    -fx-padding: 5px; /* Adjust the padding as needed for spacing within the field */
}


.button {
    -fx-font-size: 14px;
    -fx-pref-height: 30px;
    -fx-background-color: rgb(19, 9, 106);
    -fx-text-fill: #ffffff;

}

.button:hover {
    -fx-background-color: #001c47;
}


.error-label2 {
    -fx-text-fill: rgb(62, 72, 189);
}
.error-label {
    -fx-text-fill: #ff0000;
}
