/* signup.css */
.background{
    -fx-background-image: url('MoodleBG.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.white-container{
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-background-radius: 20px;
    -fx-pref-height: 750px;
    -fx-pref-width: 850px;
    -fx-alignment: top-center;
    -fx-spacing: 44px;
}

.field-container{
    -fx-alignment: center;
    -fx-hgap: 18;
    -fx-vgap: 18;
}


.title-label {
    -fx-font-size: 30px;
    -fx-text-fill: rgb(19, 9, 106); /* Dark blue text color */
    -fx-font-weight: bold;
}

.field-label{
    -fx-font-size: 20px;
    -fx-text-fill: #0C1D61;
}

.field {
    -fx-pref-width: 200px; /* You can adjust the maximum width as needed */
    -fx-background-radius: 10px;
    -fx-font-size: 14px;
}


.btn {
    -fx-font-size: 14px;
    -fx-pref-height: 30px;
    -fx-background-color: rgb(19, 9, 106);
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;

}

.btn:hover {
    -fx-background-color: #001c47;
}


.error-label2 {
    -fx-text-fill: rgb(62, 72, 189);
}
.error-label {
    -fx-text-fill: #ff0000;
}
